/******************** PAGINA PRINCIPAL ********************/
/*Ajustes generales: HEADER*/
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    background-color: white;
    width: 100%;
}

header h1{
    color:rgb(30, 52, 65);
}

/*Botones formato estandar*/
.btn {
    display: inline-block;
    background-color: rgb(32, 90, 90);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 100px;
    font-weight: bold;
    transition: black 0.3s ease;
}

/*Lista de navegacion (en conjunto)*/
.navigation li {
    display: inline-block;
    padding: 0 10px;
}

/*Lista de navegacion (individual)*/
.navigation li a {
    transition: all 0.3s ease;
    color: white;
}

.navigation li a:hover {
    color: white;
    background-color: rgb(65, 175, 175);
}

/*Cuando la ventana es menor a 900px, los botones de navegacion desaparecen*/
@media screen and (max-width: 900px) {
    .navigation {
        display: none;
    }
    .signup {
        display: none;
    }
}

/*Main section style*/
#MainSection{
    background-image:url(../images/blurry-gradient-haikei.svg);
    background-size: cover;
}

#MainTitle{
    color:black;
    text-align: left;
    padding-top: 250px;
    padding-left:100px;
    padding-bottom: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/************************CURSOS RECOMENDADS************************/
.destacados{
    background-color: #b2e5f1;
    padding-top: 150px;
    padding-bottom: 150px;
}
.destacados h1{
    padding-bottom: 50px;
    padding-left: 175px;
}
.cursos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3em;
    justify-content: space-around;
    justify-items: center;
    margin: 0 9%;
}

.elemento_curso{
    display: flex;
    align-items: flex-start;
    background: white;
    border-radius: 20px;
    width: 100%;
    transition: all 0.3s ease;
    padding: 10px;
    border: 2px solid black;
}

.elemento_curso img{
    align-self: center;
    width: 150px;
    height: 150px;
}

/***********************FOOTER********************/
/*General footer settings*/
footer {
    background-color: #222831;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: white;
}

.footer-content a {
    color: rgb(114, 114, 255);
    text-decoration: none;
}

/*General Registration.html settings*/
#BodyRegister{
    background-image:url(../images/endless-constellation.svg);
}

#RegistrationForm{
    border-radius: 10px;
    width: 420px;
    height: 540px;
    background-color: #ffffff;
    border: 2.5px solid;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position:absolute;
}

#RegistrationForm h1, #RegistrationForm p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
    margin-top: 5px;
}

#FormGroup{
    padding-left: 10px;
}

#FormGroup h4, #FormGroup input{
    text-align: left;
    color: #000000;
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input[type='text']{
    border: #acacac solid;
    border-radius: 10px;
    width: 390px;
    height: 25px;
    border-width: 1px;
    box-shadow: #cccccc;
}

/*********** SOBRE NOSOTROS ************/

.about {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 3vh;
    margin: 0 9%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.about img {
    width: 100%;
}

.about div {
    align-self: center;
}

/*Cuando la pantalla es de menos de 600px, se convierte en 1 columna*/
@media screen and (max-width: 600px) {
    .about {
        grid-template-columns: 1fr;
    }
}
